.container {
  background: rgb(255, 255, 255);
  box-shadow: 0px 0px 50px rgba(90, 108, 234, 0.07);
  border-radius: 22px;
  padding: 14px 0;
  margin: 0 auto;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  padding: 1rem 5%;
  /* flex-wrap: wrap;
  flex-direction: row;
  justify-content: center; */
  /* gap: 20px; */
}
.left {
  border: 2px solid mediumpurple;
  border-radius: 10px;
  width: 100%;
  height: auto;
  font-size: 14px;
}
.right {
  width: 100%;
  height: auto;
}
.title {
  margin-bottom: 0.3rem;
}
.response {
  margin: 0;
}
@media (min-width: 600px) {
  .container {
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
  }
  .left {
    width: 60%;
    font-size: 16px;
  }
  .right {
    width: 40%;
    height: auto;
  }
}
