.container{
    background: rgb(255, 255, 255);
    box-shadow: 0px 0px 50px rgba(90, 108, 234, 0.07);
    border-radius: 22px;
    padding: 14px 0;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    /* border: 2px solid lightblue; */
    max-width: 763px;
    min-height: 220px;
    gap: 20px;
}
.left{
    border: 2px solid mediumpurple;
    border-radius: 10px;
    width: 45%;
    height: auto;
    font-size: 14px;
    min-width: 330px;
    
}
.right{
    width: 40%;
    height: auto;
}