.footer {
  width: 100%;
  height: 80px;
  background-color: rgb(48, 48, 48);
  display: flex;
  justify-content: center;
  align-content: center;
}
.wrapper {
  margin: 0 auto;
  color: white;
  max-width: 700px;
  padding: 1rem;
  align-self: center;
}
.copywrite {
  font-size: 0.8rem;
}
