.navbar {
  width: 100%;
  height: 300px;
  background-image: url("/images/Polygon2.svg");
  background-color: rgb(255, 240, 247);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
.wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: 20% 80%;
  position: relative;
  color: white;
  padding: 1rem;
}
.container {
  text-align: center;
  grid-column-start: 2;
  grid-row-start: 2;
}
.logo {
  font-family: "Viga";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 43px;
  text-align: center;
  letter-spacing: 0.5px;
  color: rgb(255, 255, 255);
  text-shadow: 0px 1px 14px rgba(0, 0, 0, 0.68);
}
.description {
  color: rgb(251, 205, 255);
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 17px;
  letter-spacing: 1px;
}
/*hamburger icon button */
.animatedIcon {
  color: white;
  grid-column-start: 3;
  overflow: visible;
  justify-self: end;
  align-self: center;
  width: 30px;
  height: 30px;
  padding: 0 3rem 2.9rem 0rem;
  background-color: #ffa9a941;
  border-radius: 8px;
}

.dropdownMenuHidden,
.dropdownMenu {
  display: flex;
  padding-top: 1rem;
  flex-direction: column;
  grid-column-start: 3;
  grid-row-start: 2;
  justify-self: flex-end;
}
.dropdownMenuHidden {
  opacity: 0;
}
.dropdownMenu {
  animation: 300ms animationMenu ease-in;
  cursor: pointer;
}
.menuOptions {
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.8rem;
  letter-spacing: 1px;
  color: white;
  text-align: right;
}
.signIn,
.signOut {
  color: #ffffff;
  background-color: #ffa9a941;
  border: none;
  border-radius: 20px;
  font-family: "DM Sans";
  font-weight: 400;
  padding: 0.1rem 1rem;
  font-size: 16px;
  grid-column-start: 1;
  grid-row-start: 1;
  width: 100px;
  height: 30px;
  align-self: center;
  justify-self: flex-start;
  cursor: pointer;
  transition: 0.4s;
}
.signIn:before {
  content: url("/images/google.svg");
  padding-right: 0.2rem;
  font-size: 1.1rem;
  float: inline-start;
}
/* 
Animation for navbar links */
@keyframes animationMenu {
  0% {
    opacity: 0;
    transform: translateY(-5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* screens larger than a tablet */
@media (min-width: 768px) {
  .wrapper {
    display: grid;
    grid-template-columns: 35% 30% 35%;
    max-width: 1070px;
    padding: 1rem 2rem 0 2rem;
    margin: 0 auto;
  }
  .container {
    padding: 0;
  }
  .animatedIcon {
    display: none;
  }

  .dropdownMenu,
  .dropdownMenuHidden {
    cursor: pointer;
    opacity: 1;
    visibility: visible;
    grid-row-start: 1;
    animation: 300ms animationMenu ease-in;
    padding: 0.5rem 0;
    flex-direction: row;
    width: 100%;
    justify-content: right;
  }

  .signIn:hover {
    background-color: #ffb1b157;
  }
  .signIn,
  .signOut {
    grid-column-start: 1;
    grid-row-start: 1;
    justify-self: flex-start;
  }

  .menuOptions {
    padding-left: 10%;
  }
}
