.playground{
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 0 0 2rem 0;
    max-width: 700px;
    margin: 0 auto;
}
.title{
    color: black;
    font-style: normal;
    font-weight: 700;
    font-size: 31px;
    margin-top: 0;
}
.form{
    width: 100%;
}

.btnsContainer{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0 1rem 0;
}
.btn{
    background-color: #3C5B5E;
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    padding: 1rem;
    opacity: 1;
    transition: 0.4s ;

}
.btn2{
    background-color: #147ebb;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    padding: 1rem;
    opacity: 1;
    transition: 0.4s ;
}
.btn:hover{
    background-color: #41686b;
}
.btn2:hover{
    background-color: #0770a0;
}
.display{
    width: 100%;
    height: auto;
    background: #F5F5F5;
    border-radius: 16px;
    margin: 1.5rem 0;
    padding: 1.5rem;
    height: 150px;
}
.response{
    line-height: 25px;
    color: black;
    /* font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.01em; */
}

.codeContainer{
    position: relative;
    width: 100%;
    height: 300px;
    border-radius: 16px;
    display: flex;
    justify-items: flex-start;
    overflow-y: scroll;
    background-color: #313131;
    margin-top: 1rem;
}

.editor{
    position: relative;
    width: 1000px;
    height: 500px;
    min-height: 300px;
    margin: 0;
    filter: saturate(1.5);
    box-sizing: border-box;
}
.editor::-webkit-scrollbar {
    display: none;
}
.editorContent {
    position: absolute;
    resize: none !important;
    box-sizing: border-box;
    opacity: 0.05;
    top: -0.09rem;
    left: -1.55rem;
    padding: 1rem 0 0 2.5rem;
    
    width: 1000px;
    height: 500px;
    min-height: 500px;
    line-height: 1.5rem;
    font-size: 1rem;
    caret-color: black !important;
}
.editorContent:focus {
    outline: none !important;
}
@media (max-width: 768px) { 
    .title{
        font-size: 26px;
    }
 }
/* .input{
    width: 100%;
    min-height: 200px;
    resize: none;
    box-sizing: border-box;
    border: 2px solid #F3F3F3;
    background-color: #F3F3F3;
    border-radius: 15px;
    font-size: 1rem;
    background-image: url('/images/search-icon.png');
    background-position: top 1rem left 0.4rem;
    background-repeat: no-repeat;
    background-size: 20px;
    padding: 1rem;
    padding-left: 2em;
    margin: 1rem 0;
} */
/* .input:focus {
    outline: none !important;
} */
/* .input::placeholder { 
    font-family: 'DM Sans', sans-serif;
    opacity: 1;  
    color: grey;
  } */

/* overflow-x: auto;
white-space: pre-wrap;
white-space: -moz-pre-wrap !important;
white-space: -pre-wrap;
white-space: -o-pre-wrap;
word-wrap: break-word;
word-wrap: break-word !important; */
