.wrapper {
  height: 450px;
}
.paragraphs {
  height: 250px;
  background: rgb(255, 255, 255);
  box-shadow: 0px 0px 50px rgba(90, 108, 234, 0.07);
  border-radius: 22px;
  padding: 1rem 0.5rem;
}
.paragraph {
  padding-bottom: 1rem;
}
